<h3>管理員登入</h3>
<%= form_tag admin_create_session_path , method: :post do  %>
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email %><br/>

  <%= label_tag :password, "密碼" %>
  <%= password_field_tag :password %><br/>


  <%= submit_tag "新增" %>
<% end %>

<%= current_user.try(:name) %>
