<div>
  <h3>購物車商品</h3>
  <% @buy_now_items.each_with_index do |item, index| %>
    <ul>
      <li>
        <p>
          <%= "#{index}: #{item.product_name}" %>
        </p>
        <p>
          <%= "單品價格: #{item.product_price || 0}" %>
        </p>
        <p>
          <%= "購買數量: #{item.quantity}" %>
        </p>
      </li>
    </ul>
  <% end %>
</div>
<hr/>
<p>總價:   <%= @amount || 0 %></p>
<button class="btn btn-warning">
  確定購買
</button>

<hr/>
<div>
  <h3>下次購買商品</h3>
  <% @buy_next_time_items.each_with_index do |item, index| %>
    <ul>
      <li>
        <p>
          <%= "#{index}: #{item.product.name}" %>
        </p>
        <p>
          <%= "單品價格: #{item.product.price || 0}" %>
        </p>
        <p>
          <%= "購買數量: #{item.quantity}" %>
        </p>
      </li>
    </ul>
  <% end %>
</div>