<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'products/components/side_bar', categories: @categories %>
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <p>類別：<%= @product.subcategory.try(:name_with_category) %> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <%= image_tag (@product.image_url.url || "https://via.placeholder.com/360x200"), class: "img-responsive" %>
        </div>
        <div class="col-xs-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= "#{@product.name}" %></h4>
            </div>
            <div class="panel-body">
              <p><%= @product.description %></p>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <%= form_tag cart_items_path, method: :post do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= hidden_field_tag(:cart_type, Cart.cart_types[:buy_now]) %>
            <button class="btn btn-primary btn-block">
              加入購物車
            </button>
          <% end %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <%= form_tag cart_items_path, method: :post do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= hidden_field_tag(:cart_type, Cart.cart_types[:buy_next_time]) %>
            <button class="btn btn-warning btn-block">
              下次購買
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>